@keyframes card-appear {
	from {
		opacity: 0;
		transform: translateY(80px);
	}
    
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes loader-appear {

    0% {
        opacity: 0.9;
    }
    
    50% {
        opacity: 0.9;
    }

    99% {
        z-index: 100;
    }

    100% {
        opacity: 0;
        z-index: -20;
    }
}

@keyframes loader-icon-appear {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    40% {
        transform: translateY(0px);
        opacity: 1;

    }

    50% {
        transform: translateY(0px);
        opacity: 1;

    }

    80% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(+100px);
        opacity: 0;
    }
}

@keyframes loader-text-appear {

	0% {
        transform: translateY(-100px);
        opacity: 0;
    }

	40% {
		transform: translateY(0px);
        opacity: 1;
	}

	80% {
		transform: translateY(0px);
		transform: scale(1.1);
        opacity: 1;
	}

    100% {
        transform: translateY(0px);
		transform: scale(1.1);
        opacity: 1;
    }
}