/******** Color ********/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$white: #FFF;
$black: #353535;

$gray-light: #F6F6F6;
$gray-medium: #EAEAEA;
$gray: #7E7E7E;

$linear-gradient: linear-gradient(180deg, $color-secondary, $color-primary);

/******** Text ********/
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    extrabold: 900,
);

/******** Text ********/
$globalpadding: 1rem;

/******** Responsive ********/
$breakpoints: (
    table: 768px,
    desktop: 1024px,
);
