/******** Color ********/
/******** Text ********/
/******** Text ********/
/******** Responsive ********/
/******** Color ********/
/******** Text ********/
/******** Text ********/
/******** Responsive ********/
/******** Box Shadow ********/
/******** Center ********/
/** @mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
} **/
/******** Responsive ********/
/******** Button ********/
/******** Heart Button ********/
/******** Menu Appear ********/
@keyframes card-appear {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader-appear {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  99% {
    z-index: 21;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
@keyframes text-appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  40% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes last-text-appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  40% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(0px);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes shadow-loader {
  0% {
    box-shadow: 0px 0px 50px rgb(147, 86, 220);
    opacity: 0;
  }
  50% {
    box-shadow: 0px 0px 50px rgb(147, 86, 220);
    opacity: 1;
  }
  100% {
    box-shadow: 0px 0px 50px rgb(147, 86, 220);
    opacity: 0;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body, html, input {
  font-family: "Roboto", sans-serif;
}

/******** Color ********/
/******** Text ********/
/******** Text ********/
/******** Responsive ********/
/******** Box Shadow ********/
/******** Center ********/
/** @mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
} **/
/******** Responsive ********/
/******** Button ********/
/******** Heart Button ********/
/******** Menu Appear ********/
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  opacity: 0.9;
  z-index: 100;
  animation: loader-appear 4s ease-in-out both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__content {
  width: 500px;
  height: 100px;
  font-size: 50px;
  overflow: hidden;
  font-family: "Shrikhand", "cursive";
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__content--text {
  position: absolute;
  animation: text-appear 0.5s both ease-in-out;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.loader__content--text:last-child {
  animation: last-text-appear 0.5s ease-in-out both;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.loader__content .delay-0 {
  animation-delay: 0s;
}
.loader__content .delay-1 {
  animation-delay: 0.5s;
}
.loader__content .delay-2 {
  animation-delay: 1s;
}
.loader__content .delay-3 {
  animation-delay: 1.5s;
}

.delay-4 {
  animation: last-text-appear 1s ease-in-out both;
}

/******** Color ********/
/******** Text ********/
/******** Text ********/
/******** Responsive ********/
/******** Box Shadow ********/
/******** Center ********/
/** @mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
} **/
/******** Responsive ********/
/******** Button ********/
/******** Heart Button ********/
/******** Menu Appear ********/
.header {
  position: relative;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media all and (min-width: 1024px) {
  .header {
    height: 96px;
  }
}
.header .header__logo {
  font-size: 1.8rem;
  font-family: "Shrikhand", "cursive";
  width: 197px;
}

body {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

/******** Color ********/
/******** Text ********/
/******** Text ********/
/******** Responsive ********/
/******** Box Shadow ********/
/******** Center ********/
/** @mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
} **/
/******** Responsive ********/
/******** Button ********/
/******** Heart Button ********/
/******** Menu Appear ********/
.footer {
  background-color: #353535;
}
.footer .footer__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
@media all and (min-width: 1024px) {
  .footer .footer__container {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 0 1.6rem 0;
  }
}
.footer__logo {
  font-family: "Shrikhand", "cursive";
  font-size: 1.1rem;
  color: #FFF;
  margin: 1rem 0;
}
@media all and (min-width: 1024px) {
  .footer__logo {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media all and (min-width: 1024px) {
  .footer__content {
    display: flex;
    gap: 10px;
  }
}
.footer__list {
  margin: 0.5rem 0;
  font-weight: 500;
}
.footer__list:nth-last-child(-n+2) {
  font-weight: 400;
}
@media all and (min-width: 1024px) {
  .footer__list:nth-last-of-type(2) {
    margin-left: 25px;
  }
}
.footer__link {
  color: #FFF;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/******** Color ********/
/******** Text ********/
/******** Text ********/
/******** Responsive ********/
/******** Box Shadow ********/
/******** Center ********/
/** @mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
} **/
/******** Responsive ********/
/******** Button ********/
/******** Heart Button ********/
/******** Menu Appear ********/
.localisation {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.localisation__icon {
  color: #353535;
}
.localisation__text {
  width: 125px;
  border: none;
  background-color: #EAEAEA;
  color: #353535;
  font-size: 1rem;
  font-weight: 700;
}
.localisation__text:focus {
  outline: none;
}

.about {
  padding: 2.5rem;
  text-align: center;
  background-color: #F6F6F6;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media all and (min-width: 1024px) {
  .about {
    box-shadow: none;
  }
}
.about__title {
  font-size: 1.5rem;
  font-weight: 700;
}
@media all and (min-width: 1024px) {
  .about__title {
    font-size: 2.5rem;
  }
}
.about__subtitle {
  font-size: 1.1rem;
  margin: 1.6rem 0 2.4rem 0;
  font-weight: 300;
  color: #353535;
}
.about__btn {
  border: 0;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #FFF;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
}
.about__btn:hover {
  opacity: 0.8;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 1280px;
  position: relative;
  margin: auto;
}

.steps {
  padding: 3rem 1rem;
}
.steps__title {
  font-size: 1.5rem;
  font-weight: 700;
}
@media all and (min-width: 1024px) {
  .steps__list {
    display: flex;
    gap: 1.5rem;
  }
}

.step {
  cursor: pointer;
  padding: 1.7rem;
  margin: 1.5rem 0 1.5rem 0.75rem;
  border-radius: 1.25rem;
  background-color: #F6F6F6;
  display: flex;
  position: relative;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media all and (min-width: 1024px) {
  .step {
    flex: 1;
  }
}
.step__title {
  font-size: 1rem;
}
.step__icon {
  font-weight: 900;
  margin-right: 1rem;
  color: #7E7E7E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step__number {
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  left: -0.75rem;
  background: #9356DC;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-store {
  color: #9356DC;
}

.restaurants {
  padding: 4rem 1rem;
  background-color: #EAEAEA;
}
.restaurants__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  gap: 2rem;
}
@media all and (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
  }
}

.card {
  background-color: #FFF;
  border-radius: 1rem;
  grid-template-columns: repeat(1, 1fr);
  display: block;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.card__img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.card__new {
  padding: 0.5rem;
  background-color: #99E2D0;
  color: rgb(41.9503816794, 147.5496183206, 121.5114503817);
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.card__content {
  flex: 1;
}
.card__title {
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}
.card__subtitle {
  font-weight: 300;
}
.card__bottom {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 1rem;
}
.card__btn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -1rem;
}
.card__btn--outline {
  position: absolute;
}
.card__btn--fill {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__btn:hover .card__btn--outline {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__btn:hover .card__btn--fill {
  opacity: 1;
}

/******** Color ********/
/******** Text ********/
/******** Text ********/
/******** Responsive ********/
/******** Box Shadow ********/
/******** Center ********/
/** @mixin flex($flex-direction, $align-items, $justify-content, $flex-wrap) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
} **/
/******** Responsive ********/
/******** Button ********/
/******** Heart Button ********/
/******** Menu Appear ********/
.header__menu {
  position: relative;
}
.header__previous {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__menu {
  width: 100%;
  max-width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F6F6F6;
  position: relative;
}
@media all and (min-width: 1024px) {
  .menu {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 0rem 1rem;
}
@media all and (min-width: 1024px) {
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}
.menu__title {
  font-family: "Shrikhand", "cursive";
  font-size: 1.7rem;
}
.menu__btn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -1rem;
}
@media all and (min-width: 1024px) {
  .menu__btn {
    left: 0;
    padding-left: 20px;
  }
}
.menu__btn--outline {
  position: absolute;
}
.menu__btn--fill {
  position: absolute;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.menu__btn:hover .menu__btn--outline {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.menu__btn:hover .menu__btn--fill {
  opacity: 1;
}

.menuBtn__btn {
  border: 0;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #FFF;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
}
.menuBtn__btn:hover {
  opacity: 0.8;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

@media all and (min-width: 1024px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0.8rem;
  animation: card-appear 0.5s both ease-in-out;
  animation-fill-mode: both;
}
@media all and (min-width: 1024px) {
  .submenu {
    width: 50%;
    justify-content: center;
  }
}
.submenu__title {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  padding-top: 2.6rem;
}
.submenu__line {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

/** Delay **/
.submenu-0 {
  animation-delay: 0s;
}

.submenu-1 {
  animation-delay: 0.8s;
}

.submenu-2 {
  animation-delay: 1.6s;
}

.menuCard {
  display: flex;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 100%;
  border-radius: 0.75rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.menuCard__content {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuCard__title {
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuCard__description {
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 0.3rem;
}
.menuCard__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.8rem;
}
.menuCard__confirm {
  background-color: #99E2D0;
  width: 4rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2rem -5rem -2rem 0rem;
  transition-duration: 0.5s;
}
.menuCard:hover .menuCard__confirm {
  margin-right: -1rem;
}
.menuCard__contentIcon {
  background-color: #FFF;
  border-radius: 100%;
  height: 1.6rem;
  width: 1.6rem;
  transform: rotate(180deg);
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuCard__contentIcon--icon {
  color: #99E2D0;
}
.menuCard:hover .menuCard__contentIcon {
  transform: rotate(0);
}

.menuBtn {
  padding: 2.5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
