@use "../utils/mixins";
@use "../utils/variables";

@use "sass:map";

.footer {
    background-color: variables.$black;

    .footer__container {
        display: flex;
        flex-direction: column;
        padding: variables.$globalpadding;

        @include mixins.desktop__responsive {
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;
            padding: 4rem 0 1.6rem 0;
        }
      }

      &__logo {
        font-family: "Shrikhand", "cursive";
        font-size: 1.1rem;
        color: variables.$white;
        margin: 1rem 0;
        @include mixins.desktop__responsive {
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 6rem;
            margin-right: 6rem;
        }
      }

      &__content {
        @include mixins.desktop__responsive {
            display: flex;
            gap: 10px;
        }
      }

      &__list {
        margin: 0.5rem 0;
        font-weight: map.get(variables.$font-weight,medium);
        
        &:nth-last-child(-n + 2) {
            font-weight: map.get(variables.$font-weight,regular);
        }

        &:nth-last-of-type(2) {
            @include mixins.desktop__responsive {
                margin-left: 25px;
            }
        }
      }

      &__link {
        color: variables.$white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
      }

      &__icon {
        width: 1.2rem;
        margin-right: 0.5rem;
      }
}