.header {
    width: 100%;
    height: 63px;
    transition: all 1s;
    @include flex-center;
    @include header-shadow;
    @include desktop__responsive {
        height: 96px;
        transition: all 1s;
    }

    .header__logo {
        font-size: 1.8rem;
        font-family: "Shrikhand", "cursive";
    }
}


