@use "../utils/mixins";

.header {
    position: relative;
    width: 100%;
    height: 63px;
    @include mixins.flex-center;
    @include mixins.header-shadow;
    @include mixins.desktop__responsive {
        height: 96px;  
    }

    .header__logo {
        font-size: 1.8rem;
        font-family: "Shrikhand", "cursive";
        width: 197px;
    }
}


